{
    "plugins": [
        [
            "module-resolver",
            {
                "extension": [
                    ".jsx",
                    ".js",
                    ".json"
                    
                ],
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}