// Menu

.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.menu-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px;
    padding: 11px 16px;
    line-height: 1.125rem;
    font-weight: 600;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.144);
    }
}

//Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.back-btn {
    width: 50px;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

.tippy-z-index {
    z-index: 999999;
}
