.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
.check {
    font-size: 0.75rem;
    margin-left: 6px;
    color: rgb(32, 213, 236);
}
.sub-title {
    font-size: 0.875rem;
    color: rgba(255, 0, 0, 0.822);
}
