.wrapper {
    height: calc(100vh - var(--default-layout-header-height));
}
.member-header {
    width: 100%;
    height: 100px;
    background: transparent;
    padding: 8px;
}

.member-body {
    width: 100%;
    height: calc(100vh - 100px - var(--default-layout-header-height));
    background: transparent;
    overflow-y: auto;
}

.messages-wrapper {
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    position: relative;
    border-left: 1px solid rgba(146, 146, 146, 0.329);
    border-right: 1px solid rgba(146, 146, 146, 0.329);
}

.messages-header {
    position: relative;
    height: 80px;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     bottom: 0;
    //     z-index: -1;
    //     box-shadow: 0px 0px 0px 1px #1414141e;
    // }
    border-bottom: 1px solid rgba(146, 146, 146, 0.329);
}

.messages-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px - 60px - var(--default-layout-header-height));
    background: transparent;
    overflow-y: auto;
}

.messages-footer {
    display: block;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
}

.drawer {
    margin-top: var(--default-layout-header-height);
    height: calc(100vh - var(--default-layout-header-height));
    background: #f2fffa !important;
    width: 333px !important;
}
