.wrapper {
    width: 100%;
    height: calc(60vh - var(--default-layout-header-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 40%;
    min-width: 400px;
    min-height: 200px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 16px;
}

.btn-form {
    margin-top: 12px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
